body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.side_bar{
  position: fixed;
  height:100vh;
  width: 400px!important;
  z-index: 100;
  background-color:#f1f1f1;
  right: 0;
  top: 0;
}
.nav{
  background-color: #1abc9c;
}
.nav_body{
  display:flex;
  flex-direction:row;
  padding-top: 20px;
  color: #fff;
}
.nav_links{ 
  display:flex;
  list-style: none;
}
.nav_link{
  padding:10px;
}
.middle{
  flex: 1;
}
.link{
  color: #fff;
  text-decoration: none;
}